body {
    background-color: lightgrey;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #f8f8f8;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #7a7c7e;
    padding: 9px;
    /*border-top: 4px black;*/
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: 200;
    color: darkslategray;
    margin: 30px;
    margin-left: 70px;
}

h3 {
    font-weight: 100;
    color: slategray;
    margin: 30px;
    margin-left: 70px;
}

label {
    margin-right: 25px;
}

.text {
    margin: 30px;
    margin-left: 70px;
}

.titleDiv {
    width: 100%;
    height: 100px;
    padding: 10px;
    background-image: linear-gradient(to right, lightgrey, steelblue);
    margin: 5px;
    border-radius: 10px;
}

.bidDiv {
    width: 100%;
}
.bidDiv input {
    width: 100%;
}

.productDiv {
    background-color: white;
    width: 90%;
    height: 850px;
    padding: 10px 40px;
    margin: auto;
    border-radius: 7px;
    margin-top: 20px;
}

.productsDiv {
    background-color: white;
    width: 90%;
    height: 600px;
    padding: 10px 40px;
    margin: auto;
    border-radius: 7px;
    margin-top: 20px;
}


.product {
    width: 275px;
    height: 275px;
    padding-top: 200px;
    border: 3px solid slategray;
}

.bigProduct {
    width: 400px;
    height: 400px;
    border: 10px solid slategray;
}

.btnDiv {
    /*change*/
    background-color: slategray;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    position: relative;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.descDiv {
    background-color: slategray;
    color: white;
    width: 275px;
    height: 50px;
    text-align: center;
    padding: 10px;
}

.back {
    color: darkslategrey;
    font-size: 15px;
    font-style: italic;
    margin-left: 14px;
    margin: 6px;
}

.navbar {
    min-height: 70px;
}

.nav-link {
    margin: 20px;
}

.htable {
    width: 80%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    text-align: center;
}

.ptable {
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: auto;
    text-align: left;
}

.stable {
    margin-top: 30px;
    font-size: 20px;
}
.stable td {
    padding: 10px;
}

.bid {
    background-color: darkslategray;
    color: white;
    padding: 60px;
    border-radius: 10px;
    width: 50%;
}
.bid input {
    width: 100%;
}
